/***
Customized Progress Bars
***/

.progress {  
  border: 0; 
  background-image: none;
  filter: none;
  box-shadow: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;   

  &.progress-sm {
    height: 12px;
  }
}