img.avartar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

img.small-avartar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

img.mini-avartar {
    width: 16px;
    height: 16px;
    border-radius: 100%;
}