/***
Sidebar
***/
.sidebar {
	color: #3E4D5C;
}
.sidebar .list-group-item {
    border: none;
    display: block;
    margin-bottom: 2px;
    padding: 7px 10px;
    position: relative;
    border-radius: 0;
}
.sidebar .list-group-item:last-child {
	margin: 0;
}
.sidebar a {
	color: #3E4D5C;
}
.sidebar a:hover {
	color: $brand-primary;
}
 .sidebar-menu a {
	display: block;
}
 .sidebar-menu a:hover {
 	text-decoration: none;
}
.sidebar-menu .fa-angle-right {
	position: relative;
	top: 1px;
	margin-right: 2px;
	float: left;
}
.sidebar .dropdown.open .dropdown-toggle {
    background: #fff;
    color: #3E4D5C;
}
.sidebar .dropdown.open .dropdown-toggle:hover {
	color: $brand-primary;
}
.sidebar .dropup.open > .dropdown-toggle, .dropdown.open > .dropdown-toggle {
    border-color: none !important;
}

.sidebar .dropdown-menu {
    background-clip: padding-box;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: none;
    float: none;
    font-size: 14px;
    list-style: none;
    margin: 0 -10px;
    min-width: auto;
    padding: 5px 10px 1px 19px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    font: 15px $font-family-sans-serif;
}

.sidebar .dropdown-menu:after,
.sidebar .dropdown-menu:before {
    display:none !important;
}

.sidebar .dropdown-menu .dropdown-menu {
	border-top: none;
	margin-bottom: -5px;
	margin-right: -10px;
}
.sidebar .open>.dropdown-menu {
	display: block;
}
.sidebar .dropdown-menu li {
	padding: 4px 0 3px 11px;
	position: relative;
}
.sidebar .dropdown-menu ul {
	padding: 0;
	margin: 0 0 0 4px;
	list-style: none;
	text-transform: none;
	font-size: 15px;
}
.sidebar .dropdown-menu > li > a {
    clear: both;
    line-height: inherit;
    padding: 0;
    white-space: nowrap;
}
.sidebar-menu .dropdown-menu li > a:hover, .sidebar-menu .dropdown-menu li > a:focus, .sidebar-menu li.active > a, .sidebar-menu li.active > a:hover {
	background: none !important;
	color: $brand-primary;
}
.sidebar .dropdown-menu > li > a .fa-angle-down {
	position: absolute;
	top: 8px;
	right: 0;
}
.sidebar .fa-angle-down:before {
    content: "";
}
.sidebar .fa-angle-down {
	width: 11px;
	height: 11px;
	background: url(../img/layout/sidebar-toggle-icons.png) no-repeat 0 0;
	position: absolute;
	top: 12px;
	right: 10px;
}
.sidebar a:hover > .fa-angle-down {
	background-position: -11px 0;
}
.sidebar .collapsed .fa-angle-down {
	background-position: 0 -37px;
}
.sidebar .collapsed:hover > .fa-angle-down {
	background-position: -11px -37px;
}